<h3>Thanks for signing up!</h3>
<p>We do need to make sure it was you that signed up, so please help us out by clicking this <a href='<%=verifyHref%>'>link</a>.</p>

<p>If you didn't sign up, you don't need to do anything.</p>

<p>We look forward to seeing you around.</p>

<p>Sincerely,</p>

<p>The Marketplace Team</p>
